### Calculating Column Statistics

- Creating the shoe dataframe

In [2]:
import pandas as pd

# Define the data as a list of tuples
orders = [
    (41874, 'Kyle', 'Peck', 'KylePeck71@gmail.com', 'ballet flats', 'faux-leather', 'black', 385.0),
    (31349, 'Elizabeth', 'Velazquez', 'EVelazquez1971@gmail.com', 'boots', 'fabric', 'brown', 388.0),
    (43416, 'Keith', 'Saunders', 'KS4047@gmail.com', 'sandals', 'leather', 'navy', 346.0),
    (56054, 'Ryan', 'Sweeney', 'RyanSweeney14@outlook.com', 'sandals', 'fabric', 'brown', 344.0),
    (77402, 'Donna', 'Blankenship', 'DB3807@gmail.com', 'stilettos', 'fabric', 'brown', 289.0),
    (97148, 'Albert', 'Dillon', 'Albert.Dillon@gmail.com', 'wedges', 'fabric', 'brown', 266.0),
    (19998, 'Judith', 'Hewitt', 'JudithHewitt98@gmail.com', 'stilettos', 'leather', 'black', 395.0),
    (83290, 'Kayla', 'Hardin', 'Kayla.Hardin@gmail.com', 'stilettos', 'leather', 'white', 241.0),
    (77867, 'Steven', 'Blankenship', 'Steven.Blankenship@gmail.com', 'wedges', 'leather', 'navy', 266.0),
    (54885, 'Carol', 'Mclaughlin', 'CM3415@gmail.com', 'ballet flats', 'faux-leather', 'brown', 440.0),
    (35853, 'Jacob', 'Juarez', 'JJuarez1977@outlook.com', 'ballet flats', 'leather', 'red', 331.0),
    (35916, 'Michael', 'Christensen', 'Michael.Christensen@gmail.com', 'ballet flats', 'faux-leather', 'red', 270.0),
    (39587, 'Dennis', 'Vega', 'Dennis.Vega@gmail.com', 'ballet flats', 'faux-leather', 'brown', 91.0),
    (19234, 'Kathleen', 'Frost', 'KFrost1970@gmail.com', 'clogs', 'leather', 'brown', 319.0),
    (19733, 'Deborah', 'Lara', 'Deborah.Lara@gmail.com', 'ballet flats', 'leather', 'white', 205.0),
    (30871, 'Abigail', 'Dillard', 'ADillard1994@gmail.com', 'ballet flats', 'faux-leather', 'white', 278.0),
    (11967, 'Maria', 'Whitfield', 'Maria.Whitfield@gmail.com', 'wedges', 'fabric', 'white', 180.0),
    (42371, 'Gregory', 'Rose', 'GRose1983@gmail.com', 'boots', 'faux-leather', 'brown', 319.0),
    (35693, 'Margaret', 'Tyler', 'MTyler1974@gmail.com', 'ballet flats', 'fabric', 'brown', 481.0),
    (36694, 'Jessica', 'Cash', 'JCash1997@gmail.com', 'clogs', 'leather', 'red', 397.0),
    (84933, 'Jeremy', 'Holder', 'JeremyHolder35@gmail.com', 'wedges', 'leather', 'red', 347.0),
    (92283, 'Diana', 'Burgess', 'DBurgess1998@gmail.com', 'wedges', 'faux-leather', 'red', 324.0),
    (87240, 'William', 'Calderon', 'WilliamCalderon79@gmail.com', 'clogs', 'leather', 'red', 439.0),
    (49817, 'Katherine', 'Jensen', 'Katherine.Jensen@gmail.com', 'boots', 'fabric', 'black', 171.0),
    (18255, 'Tiffany', 'Bradshaw', 'TB6065@gmail.com', 'boots', 'faux-leather', 'navy', 284.0),
    (16026, 'William', 'Edwards', 'WE2364@gmail.com', 'sandals', 'leather', 'white', 326.0),
    (39560, 'Teresa', 'Valenzuela', 'TValenzuela1973@gmail.com', 'clogs', 'leather', 'brown', 323.0)
]

# Define the column names
columns = ['id', 'first_name', 'last_name', 'email', 'shoe_type', 'shoe_material', 'shoe_color', 'price']

# Creating DataFrame
df = pd.DataFrame(orders, columns=columns)

# Displaying DataFrame
print(df)

       id first_name    last_name                          email  \
0   41874       Kyle         Peck           KylePeck71@gmail.com
1   31349  Elizabeth    Velazquez       EVelazquez1971@gmail.com
2   43416      Keith     Saunders               KS4047@gmail.com
3   56054       Ryan      Sweeney      RyanSweeney14@outlook.com
4   77402      Donna  Blankenship               DB3807@gmail.com
5   97148     Albert       Dillon        Albert.Dillon@gmail.com
6   19998     Judith       Hewitt       JudithHewitt98@gmail.com
7   83290      Kayla       Hardin         Kayla.Hardin@gmail.com
8   77867     Steven  Blankenship   Steven.Blankenship@gmail.com
9   54885      Carol   Mclaughlin               CM3415@gmail.com
10  35853      Jacob       Juarez        JJuarez1977@outlook.com
11  35916    Michael  Christensen  Michael.Christensen@gmail.com
12  39587     Dennis         Vega          Dennis.Vega@gmail.com
13  19234   Kathleen        Frost           KFrost1970@gmail.com
14  19733    Deborah         Lara         Deborah.Lara@gmail.com
15  30871    Abigail      Dillard         ADillard1994@gmail.com
16  11967      Maria    Whitfield      Maria.Whitfield@gmail.com
17  42371    Gregory         Rose            GRose1983@gmail.com
18  35693   Margaret        Tyler           MTyler1974@gmail.com
19  36694    Jessica         Cash            JCash1997@gmail.com
20  84933     Jeremy       Holder       JeremyHolder35@gmail.com
21  92283      Diana      Burgess         DBurgess1998@gmail.com
22  87240    William     Calderon    WilliamCalderon79@gmail.com
23  49817  Katherine       Jensen     Katherine.Jensen@gmail.com
24  18255    Tiffany     Bradshaw               TB6065@gmail.com
25  16026    William      Edwards               WE2364@gmail.com
26  39560     Teresa   Valenzuela      TValenzuela1973@gmail.com

       shoe_type shoe_material shoe_color  price
0   ballet flats  faux-leather      black  385.0
1          boots        fabric      brown  388.0
2        sandals       leather       navy  346.0
3        sandals        fabric      brown  344.0
4      stilettos        fabric      brown  289.0
5         wedges        fabric      brown  266.0
6      stilettos       leather      black  395.0
7      stilettos       leather      white  241.0
8         wedges       leather       navy  266.0
9   ballet flats  faux-leather      brown  440.0
10  ballet flats       leather        red  331.0
11  ballet flats  faux-leather        red  270.0
12  ballet flats  faux-leather      brown   91.0
13         clogs       leather      brown  319.0
14  ballet flats       leather      white  205.0
15  ballet flats  faux-leather      white  278.0
16        wedges        fabric      white  180.0
17         boots  faux-leather      brown  319.0
18  ballet flats        fabric      brown  481.0
19         clogs       leather        red  397.0
20        wedges       leather        red  347.0
21        wedges  faux-leather        red  324.0
22         clogs       leather        red  439.0
23         boots        fabric      black  171.0
24         boots  faux-leather       navy  284.0
25       sandals       leather      white  326.0
26         clogs       leather      brown  323.0

- lets visualize the top 10 orders

In [3]:
print(df.head(10))

      id first_name    last_name                         email     shoe_type  \
0  41874       Kyle         Peck          KylePeck71@gmail.com  ballet flats
1  31349  Elizabeth    Velazquez      EVelazquez1971@gmail.com         boots
2  43416      Keith     Saunders              KS4047@gmail.com       sandals
3  56054       Ryan      Sweeney     RyanSweeney14@outlook.com       sandals
4  77402      Donna  Blankenship              DB3807@gmail.com     stilettos
5  97148     Albert       Dillon       Albert.Dillon@gmail.com        wedges
6  19998     Judith       Hewitt      JudithHewitt98@gmail.com     stilettos
7  83290      Kayla       Hardin        Kayla.Hardin@gmail.com     stilettos
8  77867     Steven  Blankenship  Steven.Blankenship@gmail.com        wedges
9  54885      Carol   Mclaughlin              CM3415@gmail.com  ballet flats

  shoe_material shoe_color  price
0  faux-leather      black  385.0
1        fabric      brown  388.0
2       leather       navy  346.0
3        fabric      brown  344.0
4        fabric      brown  289.0
5        fabric      brown  266.0
6       leather      black  395.0
7       leather      white  241.0
8       leather       navy  266.0
9  faux-leather      brown  440.0

- Our finance department wants to know the price of the most expensive pair of shoes purchased

In [4]:
most_expensive = df.price.max()
print(f"the most expensive item price is {most_expensive}")

the most expensive item price is 481.0

- Our fashion department wants to know how many different colors of shoes we are selling.

In [5]:
num_colors = df["shoe_color"].nunique()
print(num_colors)

5

- lets find the highest shoe_price per each shoe type

In [6]:
pricey_shoes = df.groupby("shoe_type").price.max()
print(pricey_shoes)

shoe_type
ballet flats    481.0
boots           388.0
clogs           439.0
sandals         346.0
stilettos       395.0
wedges          347.0
Name: price, dtype: float64

- type of our table

In [7]:
print(type(pricey_shoes))

<class 'pandas.core.series.Series'>