# Petal Power Inventory analysis

- As the lead data analyst for a chain of gardening stores called Petal Power. I ll help them analyze their inventory!

- lets create our dataframe

In [18]:
import pandas as pd

# Provided data
data = {
    'location': ['Staten Island', 'Staten Island', 'Staten Island', 'Staten Island', 'Staten Island', 
                 'Staten Island', 'Staten Island', 'Staten Island', 'Staten Island', 'Staten Island', 
                 'Brooklyn', 'Brooklyn', 'Brooklyn', 'Brooklyn', 'Brooklyn', 'Brooklyn', 'Brooklyn', 
                 'Brooklyn', 'Brooklyn', 'Brooklyn', 'Queens', 'Queens', 'Queens', 'Queens', 'Queens', 
                 'Queens', 'Queens', 'Queens', 'Queens'],
    'product_type': ['seeds', 'seeds', 'seeds', 'garden tools', 'garden tools', 'garden tools', 
                     'pest_control', 'pest_control', 'planter', 'planter', 'seeds', 'seeds', 'seeds', 
                     'garden tools', 'garden tools', 'garden tools', 'pest_control', 'pest_control', 
                     'planter', 'planter', 'seeds', 'seeds', 'seeds', 'garden tools', 'garden tools', 
                     'garden tools', 'pest_control', 'pest_control', 'planter'],
    'product_description': ['daisy', 'calla lily', 'tomato', 'rake', 'wheelbarrow', 'spade', 
                            'insect killer', 'weed killer', '20 inch terracotta planter', 
                            '8 inch plastic planter', 'daisy', 'calla lily', 'tomato', 'rake', 
                            'wheelbarrow', 'spade', 'insect killer', 'weed killer', 
                            '20 inch terracotta planter', '8 inch plastic planter', 'daisy', 
                            'calla lily', 'tomato', 'rake', 'wheelbarrow', 'spade', 'insect killer', 
                            'weed killer', '20 inch terracotta planter'],
    'quantity': [4, 46, 85, 4, 0, 93, 74, 8, 0, 53, 50, 0, 0, 15, 82, 36, 80, 76, 5, 26, 57, 95, 45, 
                 21, 98, 26, 0, 16, 87],
    'price': [6.99, 19.99, 13.99, 13.99, 89.99, 19.99, 12.99, 23.99, 17.99, 3.99, 6.99, 19.99, 13.99, 
              13.99, 89.99, 19.99, 12.99, 23.99, 17.99, 3.99, 6.99, 19.99, 13.99, 13.99, 89.99, 19.99, 
              12.99, 23.99, 17.99]
}

# Create DataFrame
inventory = pd.DataFrame(data)

# Save DataFrame to CSV
inventory.to_csv('inventory.csv', index=False)

print(inventory)

         location  product_type         product_description  quantity  price
0   Staten Island         seeds                       daisy         4   6.99
1   Staten Island         seeds                  calla lily        46  19.99
2   Staten Island         seeds                      tomato        85  13.99
3   Staten Island  garden tools                        rake         4  13.99
4   Staten Island  garden tools                 wheelbarrow         0  89.99
5   Staten Island  garden tools                       spade        93  19.99
6   Staten Island  pest_control               insect killer        74  12.99
7   Staten Island  pest_control                 weed killer         8  23.99
8   Staten Island       planter  20 inch terracotta planter         0  17.99
9   Staten Island       planter      8 inch plastic planter        53   3.99
10       Brooklyn         seeds                       daisy        50   6.99
11       Brooklyn         seeds                  calla lily         0  19.99
12       Brooklyn         seeds                      tomato         0  13.99
13       Brooklyn  garden tools                        rake        15  13.99
14       Brooklyn  garden tools                 wheelbarrow        82  89.99
15       Brooklyn  garden tools                       spade        36  19.99
16       Brooklyn  pest_control               insect killer        80  12.99
17       Brooklyn  pest_control                 weed killer        76  23.99
18       Brooklyn       planter  20 inch terracotta planter         5  17.99
19       Brooklyn       planter      8 inch plastic planter        26   3.99
20         Queens         seeds                       daisy        57   6.99
21         Queens         seeds                  calla lily        95  19.99
22         Queens         seeds                      tomato        45  13.99
23         Queens  garden tools                        rake        21  13.99
24         Queens  garden tools                 wheelbarrow        98  89.99
25         Queens  garden tools                       spade        26  19.99
26         Queens  pest_control               insect killer         0  12.99
27         Queens  pest_control                 weed killer        16  23.99
28         Queens       planter  20 inch terracotta planter        87  17.99

- inspect the first 10 rows

In [19]:
inventory.head(10)

        location  product_type         product_description  quantity  price
0  Staten Island         seeds                       daisy         4   6.99
1  Staten Island         seeds                  calla lily        46  19.99
2  Staten Island         seeds                      tomato        85  13.99
3  Staten Island  garden tools                        rake         4  13.99
4  Staten Island  garden tools                 wheelbarrow         0  89.99
5  Staten Island  garden tools                       spade        93  19.99
6  Staten Island  pest_control               insect killer        74  12.99
7  Staten Island  pest_control                 weed killer         8  23.99
8  Staten Island       planter  20 inch terracotta planter         0  17.99
9  Staten Island       planter      8 inch plastic planter        53   3.99

- lets save this rows in a new column called Staten Island

In [20]:
inventory["staten_island"] = inventory["location"] == "Staten Island"

In [21]:
print(inventory)

         location  product_type         product_description  quantity  price  \
0   Staten Island         seeds                       daisy         4   6.99
1   Staten Island         seeds                  calla lily        46  19.99
2   Staten Island         seeds                      tomato        85  13.99
3   Staten Island  garden tools                        rake         4  13.99
4   Staten Island  garden tools                 wheelbarrow         0  89.99
5   Staten Island  garden tools                       spade        93  19.99
6   Staten Island  pest_control               insect killer        74  12.99
7   Staten Island  pest_control                 weed killer         8  23.99
8   Staten Island       planter  20 inch terracotta planter         0  17.99
9   Staten Island       planter      8 inch plastic planter        53   3.99
10       Brooklyn         seeds                       daisy        50   6.99
11       Brooklyn         seeds                  calla lily         0  19.99
12       Brooklyn         seeds                      tomato         0  13.99
13       Brooklyn  garden tools                        rake        15  13.99
14       Brooklyn  garden tools                 wheelbarrow        82  89.99
15       Brooklyn  garden tools                       spade        36  19.99
16       Brooklyn  pest_control               insect killer        80  12.99
17       Brooklyn  pest_control                 weed killer        76  23.99
18       Brooklyn       planter  20 inch terracotta planter         5  17.99
19       Brooklyn       planter      8 inch plastic planter        26   3.99
20         Queens         seeds                       daisy        57   6.99
21         Queens         seeds                  calla lily        95  19.99
22         Queens         seeds                      tomato        45  13.99
23         Queens  garden tools                        rake        21  13.99
24         Queens  garden tools                 wheelbarrow        98  89.99
25         Queens  garden tools                       spade        26  19.99
26         Queens  pest_control               insect killer         0  12.99
27         Queens  pest_control                 weed killer        16  23.99
28         Queens       planter  20 inch terracotta planter        87  17.99

    staten_island
0            True
1            True
2            True
3            True
4            True
5            True
6            True
7            True
8            True
9            True
10          False
11          False
12          False
13          False
14          False
15          False
16          False
17          False
18          False
19          False
20          False
21          False
22          False
23          False
24          False
25          False
26          False
27          False
28          False

- lets make new columns to make filtering easy

- A customer just emailed us asking what products are sold at your Staten Island location.

In [22]:
inventory["product_request"] = inventory.apply(lambda row: row.product_description if row.location == "Staten Island" else None , axis = 1 )

In [23]:
print(inventory)

         location  product_type         product_description  quantity  price  \
0   Staten Island         seeds                       daisy         4   6.99
1   Staten Island         seeds                  calla lily        46  19.99
2   Staten Island         seeds                      tomato        85  13.99
3   Staten Island  garden tools                        rake         4  13.99
4   Staten Island  garden tools                 wheelbarrow         0  89.99
5   Staten Island  garden tools                       spade        93  19.99
6   Staten Island  pest_control               insect killer        74  12.99
7   Staten Island  pest_control                 weed killer         8  23.99
8   Staten Island       planter  20 inch terracotta planter         0  17.99
9   Staten Island       planter      8 inch plastic planter        53   3.99
10       Brooklyn         seeds                       daisy        50   6.99
11       Brooklyn         seeds                  calla lily         0  19.99
12       Brooklyn         seeds                      tomato         0  13.99
13       Brooklyn  garden tools                        rake        15  13.99
14       Brooklyn  garden tools                 wheelbarrow        82  89.99
15       Brooklyn  garden tools                       spade        36  19.99
16       Brooklyn  pest_control               insect killer        80  12.99
17       Brooklyn  pest_control                 weed killer        76  23.99
18       Brooklyn       planter  20 inch terracotta planter         5  17.99
19       Brooklyn       planter      8 inch plastic planter        26   3.99
20         Queens         seeds                       daisy        57   6.99
21         Queens         seeds                  calla lily        95  19.99
22         Queens         seeds                      tomato        45  13.99
23         Queens  garden tools                        rake        21  13.99
24         Queens  garden tools                 wheelbarrow        98  89.99
25         Queens  garden tools                       spade        26  19.99
26         Queens  pest_control               insect killer         0  12.99
27         Queens  pest_control                 weed killer        16  23.99
28         Queens       planter  20 inch terracotta planter        87  17.99

    staten_island             product_request
0            True                       daisy
1            True                  calla lily
2            True                      tomato
3            True                        rake
4            True                 wheelbarrow
5            True                       spade
6            True               insect killer
7            True                 weed killer
8            True  20 inch terracotta planter
9            True      8 inch plastic planter
10          False                        None
11          False                        None
12          False                        None
13          False                        None
14          False                        None
15          False                        None
16          False                        None
17          False                        None
18          False                        None
19          False                        None
20          False                        None
21          False                        None
22          False                        None
23          False                        None
24          False                        None
25          False                        None
26          False                        None
27          False                        None
28          False                        None

- Another customer emails to ask what types of seeds are sold at the Brooklyn location.

In [24]:
inventory["seed_request"] = inventory.apply(lambda row: row.product_description if (row.location =="Brooklyn") & (row.product_type == "seeds") else None , axis = 1)

In [25]:
print(inventory)

         location  product_type         product_description  quantity  price  \
0   Staten Island         seeds                       daisy         4   6.99
1   Staten Island         seeds                  calla lily        46  19.99
2   Staten Island         seeds                      tomato        85  13.99
3   Staten Island  garden tools                        rake         4  13.99
4   Staten Island  garden tools                 wheelbarrow         0  89.99
5   Staten Island  garden tools                       spade        93  19.99
6   Staten Island  pest_control               insect killer        74  12.99
7   Staten Island  pest_control                 weed killer         8  23.99
8   Staten Island       planter  20 inch terracotta planter         0  17.99
9   Staten Island       planter      8 inch plastic planter        53   3.99
10       Brooklyn         seeds                       daisy        50   6.99
11       Brooklyn         seeds                  calla lily         0  19.99
12       Brooklyn         seeds                      tomato         0  13.99
13       Brooklyn  garden tools                        rake        15  13.99
14       Brooklyn  garden tools                 wheelbarrow        82  89.99
15       Brooklyn  garden tools                       spade        36  19.99
16       Brooklyn  pest_control               insect killer        80  12.99
17       Brooklyn  pest_control                 weed killer        76  23.99
18       Brooklyn       planter  20 inch terracotta planter         5  17.99
19       Brooklyn       planter      8 inch plastic planter        26   3.99
20         Queens         seeds                       daisy        57   6.99
21         Queens         seeds                  calla lily        95  19.99
22         Queens         seeds                      tomato        45  13.99
23         Queens  garden tools                        rake        21  13.99
24         Queens  garden tools                 wheelbarrow        98  89.99
25         Queens  garden tools                       spade        26  19.99
26         Queens  pest_control               insect killer         0  12.99
27         Queens  pest_control                 weed killer        16  23.99
28         Queens       planter  20 inch terracotta planter        87  17.99

    staten_island             product_request seed_request
0            True                       daisy         None
1            True                  calla lily         None
2            True                      tomato         None
3            True                        rake         None
4            True                 wheelbarrow         None
5            True                       spade         None
6            True               insect killer         None
7            True                 weed killer         None
8            True  20 inch terracotta planter         None
9            True      8 inch plastic planter         None
10          False                        None        daisy
11          False                        None   calla lily
12          False                        None       tomato
13          False                        None         None
14          False                        None         None
15          False                        None         None
16          False                        None         None
17          False                        None         None
18          False                        None         None
19          False                        None         None
20          False                        None         None
21          False                        None         None
22          False                        None         None
23          False                        None         None
24          False                        None         None
25          False                        None         None
26          False                        None         None
27          False                        None         None
28          False                        None         None