In [2]:
import pandas as pd
import numpy as np

- let's load our csv_files

- Orders file

In [3]:
orders = pd.read_csv('order.csv')

In [4]:
print(orders)

   order_id  customer_id  product_id  quantity   timestamp
0         1            1           2         3  01/01/2017
1         2            2           2         3  01/01/2017
2         3            3           1         1  01/01/2017
3         4            4           3         2  01/02/2017
4         5            5           3         3  01/02/2017
5         6            6           1         4  01/03/2017
6         7            7           1         1  02/02/2017
7         8            8           1         4  02/02/2017

- Products file

In [5]:
products = pd.read_csv('products.csv')

In [6]:
print(products)

        location  product_type         product_description  quantity  price
0  Staten Island         seeds                       daisy         4   6.99
1  Staten Island         seeds                  calla lily        46  19.99
2  Staten Island         seeds                      tomato        85  13.99
3  Staten Island  garden tools                        rake         4  13.99
4  Staten Island  garden tools                 wheelbarrow         0  89.99
5  Staten Island  garden tools                       spade        93  19.99
6  Staten Island  pest_control               insect killer        74  12.99
7  Staten Island  pest_control                 weed killer         8  23.99
8  Staten Island       planter  20 inch terracotta planter         0  17.99
9  Staten Island       planter      8 inch plastic planter        53   3.99

- Customers file

In [7]:
customers = pd.read_csv('customer.csv')

In [8]:
print(customers)

   customer_id customer_name        address  phone_number
0            1    John Smith   123 Main St.  212-123-4567
1            2      Jane Doe  456 Park Ave.  949-867-5309
2            3     Joe Schmo   798 Broadway  112-358-1321

## Merges

#### - Inner Merge

- let's upload other csv files (sales, Targets)

In [9]:
sales = pd.read_csv('sales.csv')
print(sales)
targets = pd.read_csv('target.csv')
print(targets)

      month  revenue
0   January      300
1  February      290
2     March      310
3     April      325
4       May      475
5      June      495
      month  target
0   January     310
1  February     270
2     March     300
3     April     350
4       May     475
5      June     500

- let's merge sales csv and target csv

In [10]:
sales_vs_targets = pd.merge(sales, targets)
print(sales_vs_targets)

      month  revenue  target
0   January      300     310
1  February      290     270
2     March      310     300
3     April      325     350
4       May      475     475
5      June      495     500

- let's see which months are more porifitibale for us

In [11]:
crushing_it = sales_vs_targets[sales_vs_targets.revenue > sales_vs_targets.target]

print(crushing_it)

      month  revenue  target
1  February      290     270
2     March      310     300

- let's load other sales data about men and women articles

In [12]:
men_women = pd.read_csv("men_women_sales.csv")
print(men_women)

      month  men  women
0   January   30     35
1  February   29     35
2     March   31     29
3     April   32     28
4       May   47     50
5      June   49     45

- let's merge sales, target and gender sales in one big dataframe

In [13]:
all_data = sales.merge(targets).merge(men_women)
print(all_data)

      month  revenue  target  men  women
0   January      300     310   30     35
1  February      290     270   29     35
2     March      310     300   31     29
3     April      325     350   32     28
4       May      475     475   47     50
5      June      495     500   49     45

- let's select all the infos of our best revenue compared with women and men

In [14]:
results = all_data[(all_data.revenue > all_data.target) & (all_data.women > all_data.men) ]
print(results)

      month  revenue  target  men  women
1  February      290     270   29     35

### Left Merge

In [15]:

left_sales_targets = pd.merge(orders, products, how="left")
print(left_sales_targets)

   order_id  customer_id  product_id  quantity   timestamp       location  \
0         1            1           2         3  01/01/2017            NaN
1         2            2           2         3  01/01/2017            NaN
2         3            3           1         1  01/01/2017            NaN
3         4            4           3         2  01/02/2017            NaN
4         5            5           3         3  01/02/2017            NaN
5         6            6           1         4  01/03/2017  Staten Island
6         6            6           1         4  01/03/2017  Staten Island
7         7            7           1         1  02/02/2017            NaN
8         8            8           1         4  02/02/2017  Staten Island
9         8            8           1         4  02/02/2017  Staten Island

   product_type product_description  price
0           NaN                 NaN    NaN
1           NaN                 NaN    NaN
2           NaN                 NaN    NaN
3           NaN                 NaN    NaN
4           NaN                 NaN    NaN
5         seeds               daisy   6.99
6  garden tools                rake  13.99
7           NaN                 NaN    NaN
8         seeds               daisy   6.99
9  garden tools                rake  13.99

In [16]:
left_sales_targets = pd.merge(products, orders, how="left")
print(left_sales_targets)

         location  product_type         product_description  quantity  price  \
0   Staten Island         seeds                       daisy         4   6.99
1   Staten Island         seeds                       daisy         4   6.99
2   Staten Island         seeds                  calla lily        46  19.99
3   Staten Island         seeds                      tomato        85  13.99
4   Staten Island  garden tools                        rake         4  13.99
5   Staten Island  garden tools                        rake         4  13.99
6   Staten Island  garden tools                 wheelbarrow         0  89.99
7   Staten Island  garden tools                       spade        93  19.99
8   Staten Island  pest_control               insect killer        74  12.99
9   Staten Island  pest_control                 weed killer         8  23.99
10  Staten Island       planter  20 inch terracotta planter         0  17.99
11  Staten Island       planter      8 inch plastic planter        53   3.99

    order_id  customer_id  product_id   timestamp
0        6.0          6.0         1.0  01/03/2017
1        8.0          8.0         1.0  02/02/2017
2        NaN          NaN         NaN         NaN
3        NaN          NaN         NaN         NaN
4        6.0          6.0         1.0  01/03/2017
5        8.0          8.0         1.0  02/02/2017
6        NaN          NaN         NaN         NaN
7        NaN          NaN         NaN         NaN
8        NaN          NaN         NaN         NaN
9        NaN          NaN         NaN         NaN
10       NaN          NaN         NaN         NaN
11       NaN          NaN         NaN         NaN

### Right Merging

In [17]:
left_sales_targets = pd.merge(orders, products, how="right")
print(left_sales_targets)

    order_id  customer_id  product_id  quantity   timestamp       location  \
0        6.0          6.0         1.0         4  01/03/2017  Staten Island
1        8.0          8.0         1.0         4  02/02/2017  Staten Island
2        NaN          NaN         NaN        46         NaN  Staten Island
3        NaN          NaN         NaN        85         NaN  Staten Island
4        6.0          6.0         1.0         4  01/03/2017  Staten Island
5        8.0          8.0         1.0         4  02/02/2017  Staten Island
6        NaN          NaN         NaN         0         NaN  Staten Island
7        NaN          NaN         NaN        93         NaN  Staten Island
8        NaN          NaN         NaN        74         NaN  Staten Island
9        NaN          NaN         NaN         8         NaN  Staten Island
10       NaN          NaN         NaN         0         NaN  Staten Island
11       NaN          NaN         NaN        53         NaN  Staten Island

    product_type         product_description  price
0          seeds                       daisy   6.99
1          seeds                       daisy   6.99
2          seeds                  calla lily  19.99
3          seeds                      tomato  13.99
4   garden tools                        rake  13.99
5   garden tools                        rake  13.99
6   garden tools                 wheelbarrow  89.99
7   garden tools                       spade  19.99
8   pest_control               insect killer  12.99
9   pest_control                 weed killer  23.99
10       planter  20 inch terracotta planter  17.99
11       planter      8 inch plastic planter   3.99

In [18]:
left_sales_targets = pd.merge(products, orders, how="right")
print(left_sales_targets)

        location  product_type product_description  quantity  price  order_id  \
0            NaN           NaN                 NaN         3    NaN         1
1            NaN           NaN                 NaN         3    NaN         2
2            NaN           NaN                 NaN         1    NaN         3
3            NaN           NaN                 NaN         2    NaN         4
4            NaN           NaN                 NaN         3    NaN         5
5  Staten Island         seeds               daisy         4   6.99         6
6  Staten Island  garden tools                rake         4  13.99         6
7            NaN           NaN                 NaN         1    NaN         7
8  Staten Island         seeds               daisy         4   6.99         8
9  Staten Island  garden tools                rake         4  13.99         8

   customer_id  product_id   timestamp
0            1           2  01/01/2017
1            2           2  01/01/2017
2            3           1  01/01/2017
3            4           3  01/02/2017
4            5           3  01/02/2017
5            6           1  01/03/2017
6            6           1  01/03/2017
7            7           1  02/02/2017
8            8           1  02/02/2017
9            8           1  02/02/2017