In [4]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib as plt
from scipy.stats import chi2_contingency

- Loading data

In [5]:
df = pd.read_csv(r"C:\Users\laaga\OneDrive\Bureau\learning\Python\Code Academy\Pandas\Narcissistic Personality Inventory Responses Project\data.csv")

In [6]:
df.head()

,score,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,...,Q34,Q35,Q36,Q37,Q38,Q39,Q40,elapse,gender,age
0,18,2,2,2,2,1,2,1,2,2,...,1,1,2,2,2,1,2,211,1,50
1,6,2,2,2,1,2,2,1,2,1,...,2,1,2,2,2,2,1,149,1,40
2,27,1,2,2,1,2,1,2,1,2,...,1,2,1,1,2,1,2,168,1,28
3,29,1,1,2,2,2,1,2,1,1,...,1,2,1,2,2,1,1,230,1,37
4,6,1,2,1,1,1,2,1,2,1,...,2,1,2,2,2,0,1,389,1,50

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11243 entries, 0 to 11242
Data columns (total 44 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   score   11243 non-null  int64
 1   Q1      11243 non-null  int64
 2   Q2      11243 non-null  int64
 3   Q3      11243 non-null  int64
 4   Q4      11243 non-null  int64
 5   Q5      11243 non-null  int64
 6   Q6      11243 non-null  int64
 7   Q7      11243 non-null  int64
 8   Q8      11243 non-null  int64
 9   Q9      11243 non-null  int64
 10  Q10     11243 non-null  int64
 11  Q11     11243 non-null  int64
 12  Q12     11243 non-null  int64
 13  Q13     11243 non-null  int64
 14  Q14     11243 non-null  int64
 15  Q15     11243 non-null  int64
 16  Q16     11243 non-null  int64
 17  Q17     11243 non-null  int64
 18  Q18     11243 non-null  int64
 19  Q19     11243 non-null  int64
 20  Q20     11243 non-null  int64
 21  Q21     11243 non-null  int64
 22  Q22     11243 non-null  int64
 23  Q23     11243 non-null  int64
 24  Q24     11243 non-null  int64
 25  Q25     11243 non-null  int64
 26  Q26     11243 non-null  int64
 27  Q27     11243 non-null  int64
 28  Q28     11243 non-null  int64
 29  Q29     11243 non-null  int64
 30  Q30     11243 non-null  int64
 31  Q31     11243 non-null  int64
 32  Q32     11243 non-null  int64
 33  Q33     11243 non-null  int64
 34  Q34     11243 non-null  int64
 35  Q35     11243 non-null  int64
 36  Q36     11243 non-null  int64
 37  Q37     11243 non-null  int64
 38  Q38     11243 non-null  int64
 39  Q39     11243 non-null  int64
 40  Q40     11243 non-null  int64
 41  elapse  11243 non-null  int64
 42  gender  11243 non-null  int64
 43  age     11243 non-null  int64
dtypes: int64(44)
memory usage: 3.8 MB

In [8]:
df.describe()

,score,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,...,Q34,Q35,Q36,Q37,Q38,Q39,Q40,elapse,gender,age
count,11243.000000,11243.000000,11243.000000,11243.000000,11243.000000,11243.000000,11243.000000,11243.000000,11243.000000,11243.000000,...,11243.000000,11243.000000,11243.000000,11243.000000,11243.000000,11243.000000,11243.000000,1.124300e+04,11243.000000,11243.000000
mean,13.299653,1.385751,1.784844,1.827804,1.174242,1.422307,1.628391,1.302944,1.412612,1.456106,...,1.667882,1.257582,1.807614,1.688695,1.845860,1.606955,1.414925,1.195542e+05,1.429956,34.014231
std,8.508833,0.489890,0.415898,0.382250,0.386075,0.498074,0.486375,0.463982,0.496285,0.505537,...,0.477931,0.449954,0.400239,0.471613,0.370342,0.495859,0.498831,1.262668e+07,0.504348,15.015611
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000e+00,0.000000,0.000000
25%,7.000000,1.000000,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000,2.040000e+02,1.000000,23.000000
50%,12.000000,1.000000,2.000000,2.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,...,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,1.000000,2.570000e+02,1.000000,30.000000
75%,18.000000,2.000000,2.000000,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.410000e+02,2.000000,43.000000
max,40.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.338845e+09,3.000000,509.000000

In [11]:
df.value_counts(normalize=True)

score  Q1  Q2  Q3  Q4  Q5  Q6  Q7  Q8  Q9  Q10  Q11  Q12  Q13  Q14  Q15  Q16  Q17  Q18  Q19  Q20  Q21  Q22  Q23  Q24  Q25  Q26  Q27  Q28  Q29  Q30  Q31  Q32  Q33  Q34  Q35  Q36  Q37  Q38  Q39  Q40  elapse  gender  age
0      0   0   0   0   0   0   0   0   0   0    0    0    0    0    0    0    0    0    0    0    0    0    0    0    0    0    0    0    0    0    0    0    0    0    0    0    0    0    0    0    8       1       23     0.000089
16     1   1   2   1   2   1   1   1   2   2    1    2    2    2    1    1    1    1    1    1    1    1    1    2    2    1    2    1    2    2    2    2    2    1    2    1    2    2    1    2    175     2       29     0.000089
                       1   2   2   1   1   1    1    1    2    2    1    2    2    1    1    2    2    1    2    1    2    2    2    1    2    1    2    2    1    2    1    2    1    2    1    1    202     1       41     0.000089
                                                                    2    2    2    1    2    2    2    1    1    2    1    2    2    1    1    1    2    1    1    1    1    2    2    2    2    1    229     0       24     0.000089
                                       2   2    1    1    2    2    1    1    1    2    1    2    1    1    1    2    2    2    2    1    2    1    2    2    1    2    1    2    2    2    2    1    289     1       47     0.000089
                                                                                                                                                                                                                               ...
8      2   2   2   1   1   2   2   1   2   2    2    1    2    2    1    1    1    1    1    1    2    1    1    2    2    1    2    1    2    2    2    1    1    2    1    2    2    2    2    2    393     2       46     0.000089
                                   2   1   1    1    2    2    1    1    1    1    1    1    1    2    1    1    1    2    1    2    1    1    1    2    1    1    2    1    2    2    2    2    1    239     1       37     0.000089
                                                2    1    2    2    1    2    1    1    1    2    2    1    1    1    2    2    2    1    2    1    2    1    2    2    1    2    2    2    1    2    297     2       68     0.000089
                                           2    1    2    2    2    2    2    1    2    1    1    2    2    1    2    2    1    2    1    1    1    2    1    2    2    1    2    2    2    2    1    268     2       45     0.000089
40     1   1   1   2   2   1   2   1   2   2    1    1    1    1    2    1    2    2    2    2    1    2    2    1    1    2    1    2    1    1    1    2    1    1    2    1    1    1    1    2    417     1       39     0.000089
Name: proportion, Length: 11243, dtype: float64