# A/B Testing for ShoeFly.com

##### ShoeFly.com is performing an A/B Test. They have two different versions of an ad, which they have placed in emails, as well as in banner ads on Facebook, Twitter, and Google. They want to know how the two ads are performing on each of the different platforms on each day of the week. let's help them analyze the data using aggregate measures.

- lets import all the necessary libraries

In [37]:
import pandas as pd
import numpy as np
import csv

- Let's upload our csv file

In [38]:
ad_clicks = pd.read_csv("Shoe_fly_data.csv")

- let's create our dataframe df

In [39]:
df = pd.DataFrame(ad_clicks)
print(df)

                                   user_id utm_source            day  \
0     008b7c6c-7272-471e-b90e-930d548bd8d7     google   6 - Saturday
1     009abb94-5e14-4b6c-bb1c-4f4df7aa7557   facebook     7 - Sunday
2     00f5d532-ed58-4570-b6d2-768df5f41aed    twitter    2 - Tuesday
3     011adc64-0f44-4fd9-a0bb-f1506d2ad439     google    2 - Tuesday
4     012137e6-7ae7-4649-af68-205b4702169c   facebook     7 - Sunday
...                                    ...        ...            ...
1649  fe8b5236-78f6-4192-9da6-a76bba67cfe6    twitter     7 - Sunday
1650  fed3db6d-8c92-40e3-a4fb-1fb9d7337eb1   facebook     5 - Friday
1651  ff3a22ff-521c-478c-87ca-7dc7b8f34372    twitter  3 - Wednesday
1652  ff3af0d6-b092-4c4d-9f2e-2bdd8f7c0732     google     1 - Monday
1653  ffdfe7ec-0c74-4623-8d90-d95d80f1ba34   facebook   6 - Saturday

     ad_click_timestamp experimental_group
0                 07:18                  A
1                   NaN                  B
2                   NaN                  A
3                   NaN                  B
4                   NaN                  B
...                 ...                ...
1649                NaN                  A
1650                NaN                  B
1651                NaN                  B
1652              22:57                  A
1653                NaN                  B

[1654 rows x 5 columns]

- let's examine the top 5 rows of our DataFrame

In [40]:
print(df.head())

                                user_id utm_source           day  \
0  008b7c6c-7272-471e-b90e-930d548bd8d7     google  6 - Saturday
1  009abb94-5e14-4b6c-bb1c-4f4df7aa7557   facebook    7 - Sunday
2  00f5d532-ed58-4570-b6d2-768df5f41aed    twitter   2 - Tuesday
3  011adc64-0f44-4fd9-a0bb-f1506d2ad439     google   2 - Tuesday
4  012137e6-7ae7-4649-af68-205b4702169c   facebook    7 - Sunday

  ad_click_timestamp experimental_group
0              07:18                  A
1                NaN                  B
2                NaN                  A
3                NaN                  B
4                NaN                  B

- The manager wants to know which ad platform is getting you the most views.

In [41]:
plateform_views = df.groupby("day").utm_source.count().reset_index()
print(plateform_views)

             day  utm_source
0     1 - Monday         226
1    2 - Tuesday         238
2  3 - Wednesday         248
3   4 - Thursday         232
4     5 - Friday         256
5   6 - Saturday         236
6     7 - Sunday         218

- google has the biggest count of user in social media plateforms

- lets create a new column regrouping the not null in ad_click_timestamp

In [42]:
df["is_click"] = df.experimental_group.isnull()
print(df)

                                   user_id utm_source            day  \
0     008b7c6c-7272-471e-b90e-930d548bd8d7     google   6 - Saturday
1     009abb94-5e14-4b6c-bb1c-4f4df7aa7557   facebook     7 - Sunday
2     00f5d532-ed58-4570-b6d2-768df5f41aed    twitter    2 - Tuesday
3     011adc64-0f44-4fd9-a0bb-f1506d2ad439     google    2 - Tuesday
4     012137e6-7ae7-4649-af68-205b4702169c   facebook     7 - Sunday
...                                    ...        ...            ...
1649  fe8b5236-78f6-4192-9da6-a76bba67cfe6    twitter     7 - Sunday
1650  fed3db6d-8c92-40e3-a4fb-1fb9d7337eb1   facebook     5 - Friday
1651  ff3a22ff-521c-478c-87ca-7dc7b8f34372    twitter  3 - Wednesday
1652  ff3af0d6-b092-4c4d-9f2e-2bdd8f7c0732     google     1 - Monday
1653  ffdfe7ec-0c74-4623-8d90-d95d80f1ba34   facebook   6 - Saturday

     ad_click_timestamp experimental_group  is_click
0                 07:18                  A     False
1                   NaN                  B     False
2                   NaN                  A     False
3                   NaN                  B     False
4                   NaN                  B     False
...                 ...                ...       ...
1649                NaN                  A     False
1650                NaN                  B     False
1651                NaN                  B     False
1652              22:57                  A     False
1653                NaN                  B     False

[1654 rows x 6 columns]

- let's add a column named is_click to show the person who really clocked on the ad

In [43]:
ad_clicks["is_click"] = ad_clicks.apply(lambda row: row["ad_click_timestamp"] if row["ad_click_timestamp"] != "Nan" else None ,axis=1 )
print(ad_clicks)

                                   user_id utm_source            day  \
0     008b7c6c-7272-471e-b90e-930d548bd8d7     google   6 - Saturday
1     009abb94-5e14-4b6c-bb1c-4f4df7aa7557   facebook     7 - Sunday
2     00f5d532-ed58-4570-b6d2-768df5f41aed    twitter    2 - Tuesday
3     011adc64-0f44-4fd9-a0bb-f1506d2ad439     google    2 - Tuesday
4     012137e6-7ae7-4649-af68-205b4702169c   facebook     7 - Sunday
...                                    ...        ...            ...
1649  fe8b5236-78f6-4192-9da6-a76bba67cfe6    twitter     7 - Sunday
1650  fed3db6d-8c92-40e3-a4fb-1fb9d7337eb1   facebook     5 - Friday
1651  ff3a22ff-521c-478c-87ca-7dc7b8f34372    twitter  3 - Wednesday
1652  ff3af0d6-b092-4c4d-9f2e-2bdd8f7c0732     google     1 - Monday
1653  ffdfe7ec-0c74-4623-8d90-d95d80f1ba34   facebook   6 - Saturday

     ad_click_timestamp experimental_group is_click
0                 07:18                  A    07:18
1                   NaN                  B      NaN
2                   NaN                  A      NaN
3                   NaN                  B      NaN
4                   NaN                  B      NaN
...                 ...                ...      ...
1649                NaN                  A      NaN
1650                NaN                  B      NaN
1651                NaN                  B      NaN
1652              22:57                  A    22:57
1653                NaN                  B      NaN

[1654 rows x 6 columns]

- let's check the people who clicked on email and social media plateforms

In [44]:
clicks_by_source = ad_clicks.groupby(["utm_source", "is_click"]).user_id.count().reset_index()
print(clicks_by_source)

    utm_source is_click  user_id
0        email    00:40        1
1        email    00:52        1
2        email    00:58        1
3        email    01:04        1
4        email    01:29        1
..         ...      ...      ...
517    twitter    23:01        1
518    twitter    23:24        1
519    twitter    23:31        1
520    twitter    23:54        1
521    twitter    23:58        1

[522 rows x 3 columns]

- let's pivot the email and social media datframe to make it readable

In [45]:
clicks_pivot = clicks_by_source.pivot(columns="is_click",
index = "utm_source",
values = "user_id").reset_index()
print(clicks_pivot)

is_click utm_source  00:01  00:02  00:05  00:10  00:18  00:22  00:25  00:28  \
0             email    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1          facebook    NaN    NaN    NaN    1.0    NaN    1.0    NaN    NaN
2            google    1.0    NaN    1.0    NaN    1.0    NaN    1.0    1.0
3           twitter    NaN    1.0    NaN    NaN    NaN    NaN    NaN    NaN

is_click  00:32  ...  23:35  23:38  23:40  23:41  23:46  23:48  23:50  23:54  \
0           NaN  ...    NaN    1.0    1.0    1.0    1.0    NaN    NaN    NaN
1           NaN  ...    NaN    NaN    NaN    NaN    1.0    NaN    1.0    NaN
2           1.0  ...    1.0    NaN    NaN    NaN    NaN    1.0    NaN    NaN
3           NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    1.0

is_click  23:57  23:58
0           1.0    NaN
1           NaN    NaN
2           NaN    NaN
3           NaN    1.0

[4 rows x 465 columns]

-

In [46]:
clicks_pivot['percent_clicked'] = clicks_pivot[True] / (clicks_pivot[True] + clicks_pivot[False])

KeyError: True

- let's find the number of people targeted for each Ad compaign

In [ ]:
number_of_people_ad = ad_clicks.groupby("experimental_group").user_id.count().reset_index()
print(number_of_people_ad)

  experimental_group  user_id
0                  A      827
1                  B      827

- let's create  dataframe grouping the ads and the click per each user

In [ ]:
percent_of_ad_per_click = ad_clicks.groupby(["experimental_group", "is_click"]).user_id.count().reset_index()
print(percent_of_ad_per_click)

    experimental_group is_click  user_id
0                    A    00:02        1
1                    A    00:05        1
2                    A    00:10        1
3                    A    00:25        1
4                    A    00:32        1
..                 ...      ...      ...
505                  B    23:30        2
506                  B    23:33        1
507                  B    23:35        1
508                  B    23:50        1
509                  B    23:58        1

[510 rows x 3 columns]

- let's pivot it

In [ ]:
pivoted_ad_per_click = percent_of_ad_per_click.pivot(
                        columns = "is_click",
                        index="experimental_group",
                        values = "user_id",
                        ).reset_index()

In [ ]:
print(pivoted_ad_per_click)

is_click experimental_group  00:01  00:02  00:05  00:10  00:18  00:22  00:25  \
0                         A    NaN    1.0    1.0    1.0    NaN    NaN    1.0
1                         B    1.0    NaN    NaN    NaN    1.0    1.0    NaN

is_click  00:28  00:32  ...  23:35  23:38  23:40  23:41  23:46  23:48  23:50  \
0           NaN    1.0  ...    NaN    1.0    1.0    1.0    2.0    1.0    NaN
1           1.0    NaN  ...    1.0    NaN    NaN    NaN    NaN    NaN    1.0

is_click  23:54  23:57  23:58
0           1.0    1.0    NaN
1           NaN    NaN    1.0

[2 rows x 465 columns]

- let's group all the clicks made for each ad type

In [ ]:
a_clicks = ad_clicks[ad_clicks.experimental_group == "A"]
b_clicks = ad_clicks[ad_clicks.experimental_group == "B"]
print(a_clicks)
print(b_clicks)

                                   user_id utm_source            day  \
0     008b7c6c-7272-471e-b90e-930d548bd8d7     google   6 - Saturday
2     00f5d532-ed58-4570-b6d2-768df5f41aed    twitter    2 - Tuesday
5     013b0072-7b72-40e7-b698-98b4d0c9967f   facebook     1 - Monday
6     0153d85b-7660-4c39-92eb-1e1acd023280     google   4 - Thursday
7     01555297-d6e6-49ae-aeba-1b196fdbb09f     google  3 - Wednesday
...                                    ...        ...            ...
1643  fceb13ea-fd8c-446a-a61f-f977d404330a    twitter   6 - Saturday
1646  fd7d06ea-38b5-4ed9-acc9-777047db8c56     google   4 - Thursday
1647  fe570a20-448f-40ed-930b-8482b8a7c231   facebook     1 - Monday
1649  fe8b5236-78f6-4192-9da6-a76bba67cfe6    twitter     7 - Sunday
1652  ff3af0d6-b092-4c4d-9f2e-2bdd8f7c0732     google     1 - Monday

     ad_click_timestamp experimental_group is_click
0                 07:18                  A    07:18
2                   NaN                  A      NaN
5                   NaN                  A      NaN
6                   NaN                  A      NaN
7                   NaN                  A      NaN
...                 ...                ...      ...
1643                NaN                  A      NaN
1646                NaN                  A      NaN
1647              20:07                  A    20:07
1649                NaN                  A      NaN
1652              22:57                  A    22:57

[827 rows x 6 columns]
                                   user_id utm_source            day  \
1     009abb94-5e14-4b6c-bb1c-4f4df7aa7557   facebook     7 - Sunday
3     011adc64-0f44-4fd9-a0bb-f1506d2ad439     google    2 - Tuesday
4     012137e6-7ae7-4649-af68-205b4702169c   facebook     7 - Sunday
9     01a210c3-fde0-4e6f-8efd-4f0e38730ae6      email    2 - Tuesday
10    01adb2e7-f711-4ae4-a7c6-29f48457eea1     google  3 - Wednesday
...                                    ...        ...            ...
1645  fd2a5852-f0ef-4162-84a6-107a42dc46b5    twitter  3 - Wednesday
1648  fe6cfa5a-cc63-4770-8d56-c13ac8cf5bef     google  3 - Wednesday
1650  fed3db6d-8c92-40e3-a4fb-1fb9d7337eb1   facebook     5 - Friday
1651  ff3a22ff-521c-478c-87ca-7dc7b8f34372    twitter  3 - Wednesday
1653  ffdfe7ec-0c74-4623-8d90-d95d80f1ba34   facebook   6 - Saturday

     ad_click_timestamp experimental_group is_click
1                   NaN                  B      NaN
3                   NaN                  B      NaN
4                   NaN                  B      NaN
9                 15:21                  B    15:21
10                  NaN                  B      NaN
...                 ...                ...      ...
1645                NaN                  B      NaN
1648              15:06                  B    15:06
1650                NaN                  B      NaN
1651                NaN                  B      NaN
1653                NaN                  B      NaN

[827 rows x 6 columns]

- let's create a datafram that will have all the true values of our clients clicking

In [47]:
count_a_clicks = a_clicks.groupby(["is_click", "day"]).user_id.count().reset_index()
count_b_clicks = b_clicks.groupby(["is_click", "day"]).user_id.count().reset_index()
print(count_a_clicks)
print(count_b_clicks)

    is_click            day  user_id
0      00:02     7 - Sunday        1
1      00:05   4 - Thursday        1
2      00:10   6 - Saturday        1
3      00:25     1 - Monday        1
4      00:32     5 - Friday        1
..       ...            ...      ...
300    23:46   4 - Thursday        1
301    23:46     7 - Sunday        1
302    23:48     5 - Friday        1
303    23:54   6 - Saturday        1
304    23:57  3 - Wednesday        1

[305 rows x 3 columns]
    is_click            day  user_id
0      00:01  3 - Wednesday        1
1      00:18    2 - Tuesday        1
2      00:22    2 - Tuesday        1
3      00:28   6 - Saturday        1
4      00:40  3 - Wednesday        1
..       ...            ...      ...
248    23:30   6 - Saturday        1
249    23:33     5 - Friday        1
250    23:35     1 - Monday        1
251    23:50     7 - Sunday        1
252    23:58     5 - Friday        1

[253 rows x 3 columns]

- let's pivot it:

In [ ]:
pivot_count_a_clicks = count_a_clicks.pivot(columns ="is_click",
                                index="day",
                                values="user_id").reset_index()
print(pivot_count_a_clicks)

is_click            day  00:02  00:05  00:10  00:25  00:32  00:34  00:35  \
0            1 - Monday    NaN    NaN    NaN    1.0    NaN    1.0    NaN
1           2 - Tuesday    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2         3 - Wednesday    NaN    NaN    NaN    NaN    NaN    NaN    NaN
3          4 - Thursday    NaN    1.0    NaN    NaN    NaN    NaN    1.0
4            5 - Friday    NaN    NaN    NaN    NaN    1.0    NaN    NaN
5          6 - Saturday    NaN    NaN    1.0    NaN    NaN    NaN    NaN
6            7 - Sunday    1.0    NaN    NaN    NaN    NaN    NaN    NaN

is_click  00:44  00:45  ...  23:31  23:32  23:34  23:38  23:40  23:41  23:46  \
0           NaN    1.0  ...    NaN    NaN    NaN    1.0    NaN    NaN    NaN
1           NaN    NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2           NaN    NaN  ...    NaN    1.0    NaN    NaN    NaN    NaN    NaN
3           NaN    NaN  ...    NaN    NaN    1.0    NaN    NaN    NaN    1.0
4           NaN    NaN  ...    NaN    NaN    NaN    NaN    1.0    NaN    NaN
5           1.0    NaN  ...    1.0    NaN    NaN    NaN    NaN    NaN    NaN
6           NaN    NaN  ...    NaN    NaN    NaN    NaN    NaN    1.0    1.0

is_click  23:48  23:54  23:57
0           NaN    NaN    NaN
1           NaN    NaN    NaN
2           NaN    NaN    1.0
3           NaN    NaN    NaN
4           1.0    NaN    NaN
5           NaN    1.0    NaN
6           NaN    NaN    NaN

[7 rows x 283 columns]

In [49]:
pivot_count_b_clicks = count_b_clicks.pivot(columns ="is_click",
                                index="day",
                                values="user_id").reset_index()
print(pivot_count_b_clicks)

is_click            day  00:01  00:18  00:22  00:28  00:40  00:52  00:54  \
0            1 - Monday    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1           2 - Tuesday    NaN    1.0    1.0    NaN    NaN    NaN    NaN
2         3 - Wednesday    1.0    NaN    NaN    NaN    1.0    NaN    NaN
3          4 - Thursday    NaN    NaN    NaN    NaN    NaN    1.0    NaN
4            5 - Friday    NaN    NaN    NaN    NaN    NaN    NaN    NaN
5          6 - Saturday    NaN    NaN    NaN    1.0    NaN    NaN    1.0
6            7 - Sunday    NaN    NaN    NaN    NaN    NaN    NaN    NaN

is_click  00:55  00:58  ...  22:53  22:54  23:17  23:18  23:20  23:30  23:33  \
0           NaN    NaN  ...    NaN    NaN    1.0    NaN    NaN    NaN    NaN
1           NaN    NaN  ...    NaN    NaN    NaN    NaN    1.0    NaN    NaN
2           NaN    NaN  ...    NaN    1.0    NaN    NaN    NaN    NaN    NaN
3           NaN    NaN  ...    2.0    NaN    NaN    1.0    NaN    1.0    NaN
4           NaN    1.0  ...    NaN    NaN    NaN    NaN    NaN    NaN    1.0
5           1.0    NaN  ...    NaN    NaN    NaN    NaN    NaN    1.0    NaN
6           NaN    NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN

is_click  23:35  23:50  23:58
0           1.0    NaN    NaN
1           NaN    NaN    NaN
2           NaN    NaN    NaN
3           NaN    NaN    NaN
4           NaN    NaN    1.0
5           NaN    NaN    NaN
6           NaN    1.0    NaN

[7 rows x 229 columns]