### Calculating Column Statistics

- Creating the shoe dataframe

In [133]:
import pandas as pd
import numpy as np

# Define the data as a list of tuples
orders = [
    (41874, 'Kyle', 'Peck', 'KylePeck71@gmail.com', 'ballet flats', 'faux-leather', 'black', 385.0),
    (31349, 'Elizabeth', 'Velazquez', 'EVelazquez1971@gmail.com', 'boots', 'fabric', 'brown', 388.0),
    (43416, 'Keith', 'Saunders', 'KS4047@gmail.com', 'sandals', 'leather', 'navy', 346.0),
    (56054, 'Ryan', 'Sweeney', 'RyanSweeney14@outlook.com', 'sandals', 'fabric', 'brown', 344.0),
    (77402, 'Donna', 'Blankenship', 'DB3807@gmail.com', 'stilettos', 'fabric', 'brown', 289.0),
    (97148, 'Albert', 'Dillon', 'Albert.Dillon@gmail.com', 'wedges', 'fabric', 'brown', 266.0),
    (19998, 'Judith', 'Hewitt', 'JudithHewitt98@gmail.com', 'stilettos', 'leather', 'black', 395.0),
    (83290, 'Kayla', 'Hardin', 'Kayla.Hardin@gmail.com', 'stilettos', 'leather', 'white', 241.0),
    (77867, 'Steven', 'Blankenship', 'Steven.Blankenship@gmail.com', 'wedges', 'leather', 'navy', 266.0),
    (54885, 'Carol', 'Mclaughlin', 'CM3415@gmail.com', 'ballet flats', 'faux-leather', 'brown', 440.0),
    (35853, 'Jacob', 'Juarez', 'JJuarez1977@outlook.com', 'ballet flats', 'leather', 'red', 331.0),
    (35916, 'Michael', 'Christensen', 'Michael.Christensen@gmail.com', 'ballet flats', 'faux-leather', 'red', 270.0),
    (39587, 'Dennis', 'Vega', 'Dennis.Vega@gmail.com', 'ballet flats', 'faux-leather', 'brown', 91.0),
    (19234, 'Kathleen', 'Frost', 'KFrost1970@gmail.com', 'clogs', 'leather', 'brown', 319.0),
    (19733, 'Deborah', 'Lara', 'Deborah.Lara@gmail.com', 'ballet flats', 'leather', 'white', 205.0),
    (30871, 'Abigail', 'Dillard', 'ADillard1994@gmail.com', 'ballet flats', 'faux-leather', 'white', 278.0),
    (11967, 'Maria', 'Whitfield', 'Maria.Whitfield@gmail.com', 'wedges', 'fabric', 'white', 180.0),
    (42371, 'Gregory', 'Rose', 'GRose1983@gmail.com', 'boots', 'faux-leather', 'brown', 319.0),
    (35693, 'Margaret', 'Tyler', 'MTyler1974@gmail.com', 'ballet flats', 'fabric', 'brown', 481.0),
    (36694, 'Jessica', 'Cash', 'JCash1997@gmail.com', 'clogs', 'leather', 'red', 397.0),
    (84933, 'Jeremy', 'Holder', 'JeremyHolder35@gmail.com', 'wedges', 'leather', 'red', 347.0),
    (92283, 'Diana', 'Burgess', 'DBurgess1998@gmail.com', 'wedges', 'faux-leather', 'red', 324.0),
    (87240, 'William', 'Calderon', 'WilliamCalderon79@gmail.com', 'clogs', 'leather', 'red', 439.0),
    (49817, 'Katherine', 'Jensen', 'Katherine.Jensen@gmail.com', 'boots', 'fabric', 'black', 171.0),
    (18255, 'Tiffany', 'Bradshaw', 'TB6065@gmail.com', 'boots', 'faux-leather', 'navy', 284.0),
    (16026, 'William', 'Edwards', 'WE2364@gmail.com', 'sandals', 'leather', 'white', 326.0),
    (39560, 'Teresa', 'Valenzuela', 'TValenzuela1973@gmail.com', 'clogs', 'leather', 'brown', 323.0)
]

# Define the column names
columns = ['id', 'first_name', 'last_name', 'email', 'shoe_type', 'shoe_material', 'shoe_color', 'price']

# Creating DataFrame
df = pd.DataFrame(orders, columns=columns)

# Displaying DataFrame
print(df)

       id first_name    last_name                          email  \
0   41874       Kyle         Peck           KylePeck71@gmail.com
1   31349  Elizabeth    Velazquez       EVelazquez1971@gmail.com
2   43416      Keith     Saunders               KS4047@gmail.com
3   56054       Ryan      Sweeney      RyanSweeney14@outlook.com
4   77402      Donna  Blankenship               DB3807@gmail.com
5   97148     Albert       Dillon        Albert.Dillon@gmail.com
6   19998     Judith       Hewitt       JudithHewitt98@gmail.com
7   83290      Kayla       Hardin         Kayla.Hardin@gmail.com
8   77867     Steven  Blankenship   Steven.Blankenship@gmail.com
9   54885      Carol   Mclaughlin               CM3415@gmail.com
10  35853      Jacob       Juarez        JJuarez1977@outlook.com
11  35916    Michael  Christensen  Michael.Christensen@gmail.com
12  39587     Dennis         Vega          Dennis.Vega@gmail.com
13  19234   Kathleen        Frost           KFrost1970@gmail.com
14  19733    Deborah         Lara         Deborah.Lara@gmail.com
15  30871    Abigail      Dillard         ADillard1994@gmail.com
16  11967      Maria    Whitfield      Maria.Whitfield@gmail.com
17  42371    Gregory         Rose            GRose1983@gmail.com
18  35693   Margaret        Tyler           MTyler1974@gmail.com
19  36694    Jessica         Cash            JCash1997@gmail.com
20  84933     Jeremy       Holder       JeremyHolder35@gmail.com
21  92283      Diana      Burgess         DBurgess1998@gmail.com
22  87240    William     Calderon    WilliamCalderon79@gmail.com
23  49817  Katherine       Jensen     Katherine.Jensen@gmail.com
24  18255    Tiffany     Bradshaw               TB6065@gmail.com
25  16026    William      Edwards               WE2364@gmail.com
26  39560     Teresa   Valenzuela      TValenzuela1973@gmail.com

       shoe_type shoe_material shoe_color  price
0   ballet flats  faux-leather      black  385.0
1          boots        fabric      brown  388.0
2        sandals       leather       navy  346.0
3        sandals        fabric      brown  344.0
4      stilettos        fabric      brown  289.0
5         wedges        fabric      brown  266.0
6      stilettos       leather      black  395.0
7      stilettos       leather      white  241.0
8         wedges       leather       navy  266.0
9   ballet flats  faux-leather      brown  440.0
10  ballet flats       leather        red  331.0
11  ballet flats  faux-leather        red  270.0
12  ballet flats  faux-leather      brown   91.0
13         clogs       leather      brown  319.0
14  ballet flats       leather      white  205.0
15  ballet flats  faux-leather      white  278.0
16        wedges        fabric      white  180.0
17         boots  faux-leather      brown  319.0
18  ballet flats        fabric      brown  481.0
19         clogs       leather        red  397.0
20        wedges       leather        red  347.0
21        wedges  faux-leather        red  324.0
22         clogs       leather        red  439.0
23         boots        fabric      black  171.0
24         boots  faux-leather       navy  284.0
25       sandals       leather      white  326.0
26         clogs       leather      brown  323.0

- lets visualize the top 10 orders

In [134]:
print(df.head(10))

      id first_name    last_name                         email     shoe_type  \
0  41874       Kyle         Peck          KylePeck71@gmail.com  ballet flats
1  31349  Elizabeth    Velazquez      EVelazquez1971@gmail.com         boots
2  43416      Keith     Saunders              KS4047@gmail.com       sandals
3  56054       Ryan      Sweeney     RyanSweeney14@outlook.com       sandals
4  77402      Donna  Blankenship              DB3807@gmail.com     stilettos
5  97148     Albert       Dillon       Albert.Dillon@gmail.com        wedges
6  19998     Judith       Hewitt      JudithHewitt98@gmail.com     stilettos
7  83290      Kayla       Hardin        Kayla.Hardin@gmail.com     stilettos
8  77867     Steven  Blankenship  Steven.Blankenship@gmail.com        wedges
9  54885      Carol   Mclaughlin              CM3415@gmail.com  ballet flats

  shoe_material shoe_color  price
0  faux-leather      black  385.0
1        fabric      brown  388.0
2       leather       navy  346.0
3        fabric      brown  344.0
4        fabric      brown  289.0
5        fabric      brown  266.0
6       leather      black  395.0
7       leather      white  241.0
8       leather       navy  266.0
9  faux-leather      brown  440.0

- Our finance department wants to know the price of the most expensive pair of shoes purchased

In [135]:
most_expensive = df.price.max()
print(f"the most expensive item price is {most_expensive}")

the most expensive item price is 481.0

- Our fashion department wants to know how many different colors of shoes we are selling.

In [136]:
num_colors = df["shoe_color"].nunique()
print(num_colors)

5

- lets find the highest shoe_price per each shoe type

In [137]:
pricey_shoes = df.groupby("shoe_type").price.max()
print(pricey_shoes)

shoe_type
ballet flats    481.0
boots           388.0
clogs           439.0
sandals         346.0
stilettos       395.0
wedges          347.0
Name: price, dtype: float64

- Our serie does not have any index we use .reset_index() combined with our querie

In [138]:
pricey_shoes = df.groupby("shoe_type").price.max().reset_index()
print(pricey_shoes)

      shoe_type  price
0  ballet flats  481.0
1         boots  388.0
2         clogs  439.0
3       sandals  346.0
4     stilettos  395.0
5        wedges  347.0

- type of our table

In [139]:
print(type(pricey_shoes))

<class 'pandas.core.frame.DataFrame'>

- Let’s calculate the 25th percentile for shoe price for each shoe_color to help Marketing decide if we have enough cheap shoes on sale. Save the data to the variable cheap_shoes.

In [140]:
cheap_shoes = df.groupby("shoe_color").price.apply(lambda x: np.percentile(x,25)).reset_index()
print(cheap_shoes)
print(type(cheap_shoes))

  shoe_color   price
0      black  278.00
1      brown  296.50
2       navy  275.00
3        red  325.75
4      white  205.00
<class 'pandas.core.frame.DataFrame'>

-  our Purchasing team thinks that certain shoe_type/shoe_color combinations are particularly popular this year (for example, blue ballet flats are all the rage in Paris).

- let's create a DataFrame with the total number of shoes of each shoe_type/shoe_color combination purchased. Save it to the variable shoe_counts.

In [141]:
shoe_count = df.groupby(["shoe_type","shoe_color"])["id"].count().reset_index()
print(shoe_count)
print(type(shoe_count))

       shoe_type shoe_color  id
0   ballet flats      black   1
1   ballet flats      brown   3
2   ballet flats        red   2
3   ballet flats      white   2
4          boots      black   1
5          boots      brown   2
6          boots       navy   1
7          clogs      brown   2
8          clogs        red   2
9        sandals      brown   1
10       sandals       navy   1
11       sandals      white   1
12     stilettos      black   1
13     stilettos      brown   1
14     stilettos      white   1
15        wedges      brown   1
16        wedges       navy   1
17        wedges        red   2
18        wedges      white   1
<class 'pandas.core.frame.DataFrame'>

### pivot tables

- Our lovely manager is complaining about our previous dataframe we will use pivot method to make easy to read

In [142]:
pivoted = shoe_count.pivot(
    columns="shoe_color",
    index="shoe_type",
    values="id"
)

In [143]:
print(pivoted)

shoe_color    black  brown  navy  red  white
shoe_type
ballet flats    1.0    3.0   NaN  2.0    2.0
boots           1.0    2.0   1.0  NaN    NaN
clogs           NaN    2.0   NaN  2.0    NaN
sandals         NaN    1.0   1.0  NaN    1.0
stilettos       1.0    1.0   NaN  NaN    1.0
wedges          NaN    1.0   1.0  2.0    1.0

email_file = pd.read_

In [144]:
email_file = pd.read_csv("emails.csv")

- Let's create the dataframe from our csv file

In [145]:
user_visits = pd.DataFrame(email_file).reset_index()

- lets explore the data

In [146]:
print(user_visits.head())

   index     id first_name last_name                       email   month  \
0      0  10043      Louis      Koch       LouisKoch43@gmail.com  03-Mar
1      1  10150      Bruce      Webb     BruceWebb44@outlook.com  03-Mar
2      2  10155   Nicholas   Hoffman  Nicholas.Hoffman@gmail.com  02-Feb
3      3  10178    William       Key     William.Key@outlook.com  03-Mar
4      4  10208      Karen      Bass            KB4971@gmail.com  02-Feb

  utm_source
0      yahoo
1    twitter
2     google
3      yahoo
4     google

In [147]:
print(user_visits.tail())

      index     id first_name last_name                        email   month  \
2995   2995  99850     Gerald  Mccarthy           GM3575@hotmail.com  03-Mar
2996   2996  99914     Denise     Frost           DF1650@outlook.com  01-Jan
2997   2997  99929       Noah  Ferguson           NF6909@hotmail.com  02-Feb
2998   2998  99968      Grace   Vaughan     GVaughan1973@outlook.com  03-Mar
2999   2999  99995    Charles    Farmer  CharlesFarmer22@outlook.com  01-Jan

     utm_source
2995   facebook
2996     google
2997   facebook
2998      email
2999     google

In [148]:
user_visits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   index       3000 non-null   int64
 1   id          3000 non-null   int64
 2   first_name  3000 non-null   object
 3   last_name   3000 non-null   object
 4   email       3000 non-null   object
 5   month       3000 non-null   object
 6   utm_source  3000 non-null   object
dtypes: int64(2), object(5)
memory usage: 164.2+ KB

In [149]:
user_visits.describe()

             index            id
count  3000.000000   3000.000000
mean   1499.500000  54361.393667
std     866.169729  25854.333095
min       0.000000  10043.000000
25%     749.750000  32175.500000
50%    1499.500000  53707.500000
75%    2249.250000  76357.500000
max    2999.000000  99995.000000

In [ ]:
user_visits = pd.read_csv('page_visits.csv')
#1
print(user_visits.head())
#2
click_source = user_visits.groupby("utm_source").id.count().reset_index()
#3
print(click_source)
#4
click_source_by_month = user_visits.groupby(["utm_source", "month"]).id.count().reset_index()
print(click_source_by_month)
#5
click_source_by_month_pivot = click_source_by_month.pivot(
  columns = "month",
  index = "utm_source",
  values= "id"
).reset_index()
print(click_source_by_month_pivot)
print(user_visits)